html,
body {
  background-color: #eee;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 205px;
}
.title {
  font-size: 23px;
  margin-bottom: 20px;
  text-align: center;
}
.bottom {
  display: flex;
  justify-content: space-between;
  height: 56px;
}
